<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<resultMap type="com.dasomcompany.dto.AdminDto" id="AdminDto">
		<result property="id" column="ID" />
		<result property="pwd" column="PWD" />
	</resultMap>
	
	<select id="getData" parameterType="string" resultMap="AdminDto">
		SELECT * FROM ADMIN WHERE ID = #{id}
	</select>
	
	<select id="isExist" parameterType="map" resultType="string">
		SELECT ID FROM ADMIN WHERE ID = #{id}
	</select>



</mapper>