<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="couns">
	<resultMap type="com.dasomcompany.dto.GuestDto" id="CounsDto">
		<result property="num" column="NUM" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="name" column="NAME" />
		<result property="pwd" column="PWD" />
		<result property="redDate" column="REG_DATE" />
		<result property="hit" column="HIT" />
	</resultMap>
	
	<!-- 견적문의 등록 -->
	<insert id="insert" parameterType="com.dasomcompany.dto.GuestDto">
		INSERT INTO GUEST
		(NUM, TITLE, CONTENT, NAME, PWD, HIT)
		VALUES(GUEST_SEQ.NEXTVAL, #{title},  #{content}, #{name}, #{pwd}, 0)
	</insert>


</mapper>